html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-size: 125%;
  line-height: $line-height;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
