$tablet-width: 768px;
$desktop-width: 992px;

$primary-font-family: "Montserrat", sans-serif;
$secondary-font-family: "Crimson Text", serif;
$font-size: 1.2rem;
$line-height: 1.8rem;

$primary-color: #151b29;
$secondary-color: #d89b64;
$text-color: #8b909d;