.btn {
  padding-top: .5rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-left: 1rem;

  font-family: $primary-font-family;
  font-size: 1rem;
  color: $secondary-color;
  text-transform: uppercase;
  border: 1px solid #dcdddf;
  transition: .4s;
}

.btn:hover {
  background-color: #dcdddf;
  color: #ffffff;
}